{% extends "@Front/layout.html.twig" %}


{% block container %}
    <!--Start breadcrumb area-->
    <section class="breadcrumb-area" style="background-image: url(front/images/resources/breadcrumb-bg.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumbs">
                        <h1>Buy Ticket</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End breadcrumb area-->

<div>
<h4>Hello World! </h4>
<h4>Hello World! </h4>
<h4>Hello World! </h4>
<h4>Hello World! </h4>
<h4>Hello World! </h4>
<h4>Hello World! </h4>
<h4>Hello World! </h4>
</div>
{% endblock %}

