{% extends "@Front/layout.html.twig" %}


{% block container %}
    <!--Start breadcrumb area-->
    <section class="breadcrumb-area" style="background-image: url(front/images/resources/breadcrumb-bg.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumbs">
                        <h1>Buy Ticket</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End breadcrumb area-->

<div>
    <!--Start Event Schedule area-->
    <section class="event-schedule-area sec-pding">
        <div class="container">
            <div class="sec-title text-center">
                <div class="underlay text-center">
                    <h2>Hothom <span>Lena</span></h2>
                </div>
                <h1>Hothom Lena</h1>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="event-schedule-tab">
                        <!--Start tab menu-->
                        <div id="tabmenu-carousel" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#tabmenu-carousel" data-slide-to="0" class="active"></li>
                                <li data-target="#tabmenu-carousel" data-slide-to="1"></li>
                            </ol>
                            <div class="carousel-inner" role="listbox">
                                <div class="item active">
                                    <ul class="nav nav-tabs tab-menu">
                                        <li><a href="#d1" data-toggle="tab"><h3>Day <span>01</span></h3><p>21st August 2017</p></a></li>
                                        <li class="active"><a href="#d2" data-toggle="tab"><h3>Day <span>02</span></h3><p>22st August 2017</p></a></li>
                                        <li><a href="#d3" data-toggle="tab"><h3>Day <span>03</span></h3><p>23st August 2017</p></a></li>
                                        <li><a href="#d4" data-toggle="tab"><h3>Day <span>04</span></h3><p>24st August 2017</p></a></li>
                                    </ul>
                                </div>
                                <div class="item">
                                    <ul class="nav nav-tabs tab-menu">
                                        <li><a href="#d5" data-toggle="tab"><h3>Day <span>05</span></h3><p>25st August 2017</p></a></li>
                                        <li><a href="#d6" data-toggle="tab"><h3>Day <span>06</span></h3><p>26st August 2017</p></a></li>
                                        <li><a href="#d7" data-toggle="tab"><h3>Day <span>07</span></h3><p>27st August 2017</p></a></li>
                                        <li><a href="#d8" data-toggle="tab"><h3>Day <span>08</span></h3><p>28st August 2017</p></a></li>
                                    </ul>
                                </div>
                            </div>
                            <a class="left slide-control" href="#tabmenu-carousel" role="button" data-slide="prev"><i class="fa fa-angle-left"></i></a>
                            <a class="right slide-control" href="#tabmenu-carousel" role="button" data-slide="next"><i class="fa fa-angle-right"></i></a>
                        </div>
                        <!--End tab menu-->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Event Schedule area-->
</div>
{% endblock %}

